body {
  font-family: monospace;
  font-size: 90%;
  color: white;
  background-color: black;
  margin: 5px;
}

html {
  background-color: #8b5742;
}

.snake {
  position: sticky;
  overflow: hidden;
  background-color: #483d8b;
}

.debug {
  position: fixed;
  bottom: 0;
}

.debug li {
  list-style: none;
}

.debug li, .debug span {
  font-size: 25%;
}
